name: Run Dockerfile.test

on:
  push

env:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

jobs:
  build_a:
    runs-on: ubuntu-latest
    container: docker:19.03.1-dind
    steps:
      - name: Check out repo's default branch
        uses: actions/checkout@v3
      - run: cat Dockerfile.test | docker build  --tag test-image -f - .
      - run: docker run --rm --name test-container test-image